
.profile-heading {
  display: flex;
  justify-content: center;
  color: rgb(14, 170, 92);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 15px;
  padding: 30px;
}


.card {
  margin: 8px;
  padding: 16px;
  background-color: #f0f0f0; 
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  height: 480px;
}


.button-group {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 20px auto; /
}


#menu_label {
  text-align: center;
  margin: 20px;
}


.button-group button {
  font-size: 16px;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgb(14, 170, 92);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 10px;
}

.button-group button:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(14, 170, 92, 0.8); 
  transform: scale(1.01);
  border: solid  0.5px; 
}


@media only screen and (max-width: 800px) {
  .card-container {
    flex-direction: column; 
    gap: 10px;
  }
  .profile-heading {
    font-size: 24px;
  }
  #header {
    font-size: 30px; 
  }
}


.container {
  padding: 0 16px;
  color: black;
  font-size: 22px; 
  background-color: #f0f0f0; 
}

#header {
  font-size: 50px;
}


.card-image {
  width: 100px; 
  height: 100px; 
  object-fit: cover;
  border-radius: 50%; 
}
