<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/Admin-Style.css">
</head>

<body>
    <%- include('partials/Navigation-Index') %>
        <div>
            <div class="actions-container">
                <!-- Container for Product Buttons -->
                <div class="container" id="admin_Panel">
                    <h2>Admin's Panel</h2>
                    <ul class="admin-menu">
                        <li><a href="#" onclick="toggleVisibility('')">Admin Profile</a></li>
                        <li><a href="#" onclick="toggleVisibility('UsersContainer')" data-container-id="UsersContainer">View Users</a></li>
                        <li><a href="#" onclick="toggleVisibility('addProductsContainer')" data-container-id="addProductsContainer">Add Products</a></li>
                        <li><a href="#" onclick="toggleVisibility('removeProductsContainer')" data-container-id="removeProductsContainer">Remove Products</a></li>
                        <li><a href="#" onclick="toggleVisibility('editProductsContainer')" data-container-id="editProductsContainer">Edit Products</a></li>
                        <li><a href="/shop">View Products</a></li>
                        <li><a href="#" onclick="toggleVisibility('addCoachesContainer')" data-container-id="addCoachesContainer">Add Coaches</a></li>
                        <li><a href="#" onclick="toggleVisibility('removeCoachesContainer')" data-container-id="removeCoachesContainer">Remove Coaches</a></li>
                        <li><a href="#" onclick="toggleVisibility('editCoachesContainer')" data-container-id="editCoachesContainer">Edit Coaches</a></li>
                        <li><a href="/coaches">View Coaches</a></li>
                        <li><a href="#" onclick="toggleVisibility('addSchedulesContainer')" data-container-id="addSchedulesContainer">Add Schedule</a></li>
                        <li><a href="#" onclick="toggleVisibility('removeSchedulesContainer')" data-container-id="removeSchedulesContainer">Remove Schedules</a></li>
                        <li><a href="#" onclick="toggleVisibility('editSchedulesContainer')" data-container-id="editSchedulesContainer">Edit Schedules</a></li>
                        <li><a href="/coaches">View Schedules</a></li>
                        <li><a href="#" onclick="toggleVisibility('addMealContainer')" data-container-id="addMealContainer">Add Meals</a></li>
                        <li><a href="#" onclick="toggleVisibility('removeMealContainer')" data-container-id="removeMealContainer">Remove Meals</a></li>
                        <li><a href="#" onclick="toggleVisibility('editMealContainer')" data-container-id="editMealContainer">Edit Meals</a></li>
                        <li><a href="/coaches">View Meals</a></li>
                        <li><a href="#" onclick="toggleVisibility('addExerciseContainer')" data-container-id="addExerciseContainer">Add Exercise</a></li>
                        <li><a href="#" onclick="toggleVisibility('removeExerciseContainer')" data-container-id="removeExerciseContainer">Remove Exercise</a></li>
                        <li><a href="#" onclick="toggleVisibility('editExerciseContainer')" data-container-id="editExerciseContainer">Edit Exercise</a></li>
                        <li><a href="/coaches">View Exercise</a></li>
                    </ul>
                    
                </div>
            </div>


            <!--  veiew users Buttons -->
            <div class="action-container hidden" id="UsersContainer">
                <button class="exit-button" onclick="toggleVisibility('UsersContainer')">X</button>
                <h1>WebFit Users</h1>
               
         
            </div>

            <!--  Product Buttons -->
            <div class="action-container hidden" id="addProductsContainer">
                <button class="exit-button" onclick="toggleVisibility('addProductsContainer')">X</button>
                <h1>Add Products</h1>
                <form action="/auth/addProduct" method="post" id="addProductForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="productName">Product Name:</label>
                        <input type="text" id="productName" name="productName" required>
                        <div id="productNameError" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <label for="productPrice">Product Price:</label>
                        <input type="number" id="productPrice" name="productPrice" required>
                        <div id="productPriceError" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <label for="productId">Product ID:</label>
                        <input type="number" id="productId" name="productId" required>
                        <div id="productIdError" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <label for="productImage">Product Image:</label>
                        <input type="file" id="productImage" name="productImage" accept="image/*" required>
                    </div>
                    <button type="submit" class="btn-action">Add Product</button>
                    <div id="successMessage" class="success-message"></div>
                </form>
            </div>
            
            
            <div class="action-container hidden" id="removeProductsContainer">
    <button class="exit-button" onclick="toggleVisibility('removeProductsContainer')">X</button>
    <h1>Remove Products</h1>
    <form action="/auth/removeProduct" method="post" id="removeProductForm">
        <div class="form-group">
            <label for="removeProductName">Product Name:</label>
            <input type="text" id="removeProductName" name="removeProductName" required>
            <div id="removeProductNameError" class="error-message"></div>
        </div>
        <div class="form-group">
            <label for="removeProductId">Product ID:</label>
            <input type="number" id="removeProductId" name="removeProductId" required>
            <div id="removeProductIdError" class="error-message"></div>
        </div>
        <button type="submit" class="btn-action">Remove Product</button>
        <div id="removeProductSuccessMessage" class="success-message"></div>
    </form>
            </div>
            
            <div class="action-container hidden" id="editProductsContainer">
                <button class="exit-button" onclick="toggleVisibility('editProductsContainer')">X</button>
                <h1>Edit Products</h1>
                <form action="/auth/editProduct" method="post" id="editProductForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="editProductName">Product Name:</label>
                        <input type="text" id="editProductName" name="editProductName" required>
                        <div id="editProductNameError" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <label for="newProductName">New Name:</label>
                        <input type="text" id="newProductName" name="newProductName" required>
                        <div id="newProductNameError" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <label for="productId">Product ID:</label>
                        <input type="number" id="productId" name="productId" required>
                        <div id="productIdError" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <label for="productPrice">Product Price:</label>
                        <input type="number" id="productPrice" name="productPrice" required>
                        <div id="productPriceError" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <label for="productImage">Product Image:</label>
                        <input type="file" id="productImage" name="productImage" accept="image/*">
                    </div>
                    <button type="submit" class="btn-action">Edit Product</button>
                    <div id="editProductSuccessMessage" class="success-message"></div>
                </form>
            </div>
            





<!--  coches Buttons -->

            <div class="action-container hidden" id="addCoachesContainer">
                <button class="exit-button" onclick="toggleVisibility('addCoachesContainer')">X</button>
                <h1>Add Coach</h1>
                <form action="/auth/addcoaches" method="post" id="addCoachForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="coachname">Coach Name:</label>
                        <input type="text" id="coachname" name="coachname" required>
                    </div>
                    <div class="form-group">
                        <label for="coachdescription">Coach Description:</label>
                        <input type="text" id="coachdescription" name="coachdescription" required>
                    </div>
                    <div class="form-group">
                        <label for="coachimage">Coach Image:</label>
                        <input type="file" id="coachimage" name="coachimage" accept="image/*" required>
                    </div>
                    <button type="submit" class="btn-action">Add Coach</button>
                    <div id="coachSuccessMessage" class="success-message"></div>
                </form>
            </div>

            <div class="action-container hidden" id="removeCoachesContainer">
                <button class="exit-button" onclick="toggleVisibility('removeCoachesContainer')">X</button>
                <h1>Remove Coaches</h1>
                <form action="/auth/removecoach" method="post" id="removeCoachForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="removeCoachName">Coach Name:</label>
                        <input type="text" id="removeCoachName" name="removeCoachName" required>
                        <div id="removeCoachNameError" class="error-message"></div>
                    </div>
                    <button type="submit" class="btn-action" onclick="validateremoveCoachForm()">Remove Coach</button>
                    <div id="removeCoachSuccessMessage" class="success-message"></div>
                </form>
            </div>
            
                

            <div class="action-container hidden" id="editCoachesContainer">
                <button class="exit-button" onclick="toggleVisibility('editCoachesContainer')">X</button>
                <h1>Edit Coaches</h1>
                <form id="editCoachForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="editCoachName">Coach Name:</label>
                        <input type="text" id="editCoachName" name="editCoachName" required>
                        <div id="editCoachNameError" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <label for="editCoachSpecialty">Coach Specialty:</label>
                        <input type="text" id="editCoachSpecialty" name="editCoachSpecialty" required>
                        <div id="editCoachSpecialtyError" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <label for="newCoachName">New Name:</label>
                        <input type="text" id="newCoachName" name="newCoachName" required>
                        <div id="newCoachNameError" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <label for="newCoachSpecialty">New Specialty:</label>
                        <input type="text" id="newCoachSpecialty" name="newCoachSpecialty" required>
                        <div id="newCoachSpecialtyError" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <label for="productImage">Coach Image:</label>
                        <input type="file" id="productImage" name="productImage" accept="image/*" required>
                    </div>
                    <button type="button" class="btn-action" onclick="validateEditCoachForm()">Edit Coach</button>
                    <div id="editCoachSuccessMessage" class="success-message"></div>
                </form>
            </div>








            <!--  Meals Buttons -->
            <div class="action-container hidden" id="addMealContainer" enctype="multipart/form-data">
                <button class="exit-button" onclick="toggleVisibility('addMealContainer')">X</button>
                <h1>Add Meal</h1>
                <form action='/auth/addmeal' method="post" id="addMealForm">
                    <div class="form-group">
                        <label for="mealname">Meal Name:</label>
                        <input type="text" id="mealname" name="mealname" required>
                    </div>
                    <div class="form-group">
                        <label for="mealdescription">Meal Description:</label>
                        <input type="text" id="Mealdescription" name="Mealdescription" required>
                    </div>

                    <button type="submit" class="btn-action">Add Meal</button>
                    <div id="MealSuccessMessage" class="success-message"></div>
                </form>
            </div>

            <div class="action-container hidden" id="removeMealContainer">
                <button class="exit-button" onclick="toggleVisibility('removeMealContainer')">X</button>
                <h1>Remove Meal</h1>
                <form id="removeMealForm" action="/auth/removemeal" method="post" >
                    <div class="form-group">
                        <label for="removeMealName">Meal Name:</label>
                        <input type="text" id="removeMealName" name="removeMealName" required>
                        <div id="removeMealNameError" class="error-message"></div>
                    </div>
                    <button type="submit" class="btn-action" >Remove Meal</button>
                    <div id="removeMealSuccessMessage" class="success-message"></div>
                </form>
            </div>

            <div class="action-container hidden" id="editMealContainer">
                <button class="exit-button" onclick="toggleVisibility('editMealContainer')">X</button>
                <h1>Edit Meal</h1>
                <form id="editMealForm" action="/auth/editmeal" method="post">
                    <div class="form-group">
                        <label for="editMealName">Meal Name:</label>
                        <input type="text" id="editMealName" name="editMealName" required>
                        <div id="editMealNameError" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <label for="newMealName">New Name:</label>
                        <input type="text" id="newMealName" name="newMealName" required>
                        <div id="newMealNameError" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <label for="newMealdescription">Meal Description:</label>
                        <input type="text" id="newMealdescription" name="newMealdescription" required>
                        <div id="newMealdescriptionError" class="error-message"></div>
                    </div>
                    <button type="submit" class="btn-action">Edit Meal</button>
                    <div id="editMealSuccessMessage" class="success-message"></div>
                </form>
            </div>
               <script>


                document.getElementById('editMealForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the default form submission

    const formData = new FormData(this);
    const jsonData = Object.fromEntries(formData.entries());

    console.log(jsonData); // Log form data for debugging

    fetch(this.action, {
        method: this.method,
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(jsonData)
    }).then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    }).then(data => {
        console.log(data); // Log the response for debugging
        document.getElementById('editMealSuccessMessage').innerText = 'Meal successfully updated.';
        toggleVisibility('editMealContainer');
    }).catch(error => {
        console.error('Error:', error);
    });
}); 

                </script>


            

            <!--  Schedules Buttons -->
            <div class="action-container hidden" id="addSchedulesContainer">
                <button class="exit-button" onclick="toggleVisibility('addSchedulesContainer')">X</button>
                <h1>Add Schedules</h1>
                <form action="/auth/addSchedules" method="post" id="addSchedulesForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Schedulesname">Schedules Name:</label>
                        <input type="text" id="Schedulesname" name="Schedulesname" required>
                    </div>
                    <div class="form-group">
                        <label for="Schedulesdescription">Schedules Description:</label>
                        <input type="text" id="Schedulesdescription" name="Schedulesdescription" required>
                    </div>
                    <div class="form-group">
                        <label for="Schedulesimage">Schedules Image:</label>
                        <input type="file" id="Schedulesimage" name="Schedulesimage" accept="image/*" required>
                    </div>
                    <button type="submit" class="btn-action">Add Schedules</button>
                    <div id="SchedulesSuccessMessage" class="success-message"></div>
                </form>
            </div>

            <div class="action-container hidden" id="removeSchedulesContainer">
                <button class="exit-button" onclick="toggleVisibility('removeSchedulesContainer')">X</button>
                <h1>Remove Schedules</h1>
                <form id="removeSchedulesForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="removeSchedulesName">Schedules Name:</label>
                        <input type="text" id="removeSchedulesName" name="removeSchedulesName" required>
                        <div id="removeSchedulesNameError" class="error-message"></div>
                    </div>
                    <button type="button" class="btn-action" onclick="validateremoveScheduleshForm()">Remove Schedules</button>
                    <div id="removeSchedulesSuccessMessage" class="success-message"></div>
                </form>
            </div>

            <div class="action-container hidden" id="editSchedulesContainer">
                <button class="exit-button" onclick="toggleVisibility('editSchedulesContainer')">X</button>
                <h1>Edit Schedules</h1>
                <form id="editSchedulesForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="editSchedulesName">Schedules Name:</label>
                        <input type="text" id="editSchedulesName" name="editSchedulesName" required>
                        <div id="editSchedulesNameError" class="error-message"></div>
                    </div>
                   
                    <div class="form-group">
                        <label for="newSchedulesName">New Name:</label>
                        <input type="text" id="newSchedulesName" name="newSchedulesName" required>
                        <div id="newSchedulesNameError" class="error-message"></div>
                    </div>
                   
                    <div class="form-group">
                        <label for="SchedulesImage">Schedules Image:</label>
                        <input type="file" id="SchedulesImage" name="SchedulesImage" accept="image/*" required>
                    </div>
                    <button type="button" class="btn-action" onclick="validateEditSchedulesForm()">Edit Schedules</button>
                    <div id="editSchedulesSuccessMessage" class="success-message"></div>
                </form>
            </div>



             

            <!--  Exercise Buttons -->
            <div class="action-container hidden" id="addExerciseContainer">
                <button class="exit-button" onclick="toggleVisibility('addExerciseContainer')">X</button>
                <h1>Add Exercise</h1>
                <form action="/auth/addExercise" method="post" id="addExerciseForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Exercisename">Exercise Name:</label>
                        <input type="text" id="Exercisename" name="Exercisename" required>
                    </div>
                    <div class="form-group">
                        <label for="Exercisedescription">Exercise Description:</label>
                        <input type="text" id="Exercisedescription" name="Exercisedescription" required>
                    </div>
                    <div class="form-group">
                        <label for="Exerciseimage">Exercise Image:</label>
                        <input type="file" id="Exerciseimage" name="Exerciseimage" accept="image/*" required>
                    </div>
                    <button type="submit" class="btn-action">Add Exercise</button>
                    <div id="ExerciseSuccessMessage" class="success-message"></div>
                </form>
            </div>

            <div class="action-container hidden" id="removeExerciseContainer">
                <button class="exit-button" onclick="toggleVisibility('removeExerciseContainer')">X</button>
                <h1>Remove Exercise</h1>
                <form id="removeExerciseForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="removeExerciseName">Exercise Name:</label>
                        <input type="text" id="removeExerciseName" name="removeExerciseName" required>
                        <div id="removeExerciseNameError" class="error-message"></div>
                    </div>
                    <button type="button" class="btn-action" onclick="validateremoveExerciseForm()">Remove Exercise</button>
                    <div id="removeExerciseSuccessMessage" class="success-message"></div>
                </form>
            </div>

            <div class="action-container hidden" id="editExerciseContainer">
                <button class="exit-button" onclick="toggleVisibility('editExerciseContainer')">X</button>
                <h1>Edit Exercise</h1>
                <form id="editExerciseForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="editExerciseName">Exercise Name:</label>
                        <input type="text" id="editExerciseName" name="editExerciseName" required>
                        <div id="editExerciseNameError" class="error-message"></div>
                    </div>
                   
                    <div class="form-group">
                        <label for="newExerciseName">New Name:</label>
                        <input type="text" id="newExerciseName" name="newExerciseName" required>
                        <div id="newExerciseNameError" class="error-message"></div>
                    </div>
                   
                    <div class="form-group">
                        <label for="ExerciseImage">Exercise Image:</label>
                        <input type="file" id="ExerciseImage" name="ExerciseImage" accept="image/*" required>
                    </div>
                    <button type="button" class="btn-action" onclick="validateEditExerciseForm()">Edit Exercise</button>
                    <div id="editExerciseSuccessMessage" class="success-message"></div>
                </form>
            </div>


            

            <div class="actions-container">
                <!-- Container for Product Buttons -->
                <div class="container2" id="stats_Container">
                    <h2>Stats</h2>
                  
                    
                </div>
            </div>
            
            <script src="/js/Admin-JavaScript.js"></script>

</body>

</html>