<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Workouts</title>
    <link rel="stylesheet" href="/css/Legs-Workout-Style.css">

</head>

<body>
    <%- include('partials/Navigation-Index') %>

<h2 class="title">Legs Workouts</h2>
    <section class="workouts">
        
        <div class="card">
            <img src="https://i.pinimg.com/originals/9c/03/18/9c031803079f20de203ac00a52edfbe5.gif" alt="Workout 9" class="workout-image">
            <div class="workout-details">
                <h2>Squats</h2>
                <p>4 sets/15 reps</p>
            </div>
        </div>
        <div class="card">
            <img src="https://media.tenor.com/bqKtsSuqilQAAAAM/gym.gif" alt="Workout 10" class="workout-image">
            <div class="workout-details">
                <h2>Leg extensions</h2>
                <p>3 sets/12 reps</p>
            </div>
        </div>
        <div class="card">
            <img src="https://i.pinimg.com/originals/6b/aa/56/6baa56db563127e0cd7eb954ccf0ad9f.gif" alt="Workout 11" class="workout-image">
            <div class="workout-details">
                <h2>Leg curls</h2>
                <p>3 sets/10 reps</p>
            </div>
        </div>
        <div class="card">
            <img src="https://newlife.com.cy/wp-content/uploads/2019/11/26661301-Lever-Seated-Calf-Raise-plate-loaded-VERSION-2_Calves_360.gif" alt="Workout 12" class="workout-image">
            <div class="workout-details">
                <h2>Seated calf raises</h2>
                <p>4 Sets/10 reps</p>
            </div>
        </div>
    </section>

    <script src="/js/Legs-Workout-JavaScript.js"></script>

</body>
</html>