<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nutrition, Gym, and Supplements</title>
  <link rel="stylesheet" href="/css/Profile-Styles.css" />

</head>

<body>
  <%- include('partials/Navigation-Index') %>
  

  <h1 class="profile-heading">Profile</h1>
 
  

  <div class="card-container">
    <div class="card">
      <img src="/images/PP.png" alt="James" class="card-image" />
      
       
           
            <div class="container">
                <h2 id="name">Loading...</h2>
                <p id="email">Loading...</p>
                <p id="Adress">Loading...</p>
                <p id="Gender">Loading...</p>
                <p id="Age">Loading...</p>
                <p id="Subscribtion_Status">Loading...</p>


            </div>
      
            <div class="button-group">
        
              <button id="workoutsButton">My Workouts</button>
              <button id="mealsButton">My Meals</button>
              <button id="subscriptionButton">Subscription</button>
              
          </div>
    </div>

    
  

  </div>

  <script src="/js/Profile-JavaScript.js"></script>

</body>

</html>