.actions-container {
    display: flex;
    padding: 30px; 
    margin: 8%; 
    position: relative;
    color: rgb(14, 170, 92);

    
}
#admin_Panel {
    width: 180px;
    height: 610px; 
    background-color: #efefef;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin-top: 77px;
    margin-bottom: 20px;
}

#stats_Container {
    width: 180px;
    height: 610px; 
    background-color: #efefef;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin-top: 77px;
    margin-bottom: 20px;
}


.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
}

h2 {
    font-size: 24px;
    text-align: center;
    color: rgba(4, 161, 4, 0.8);
    margin-bottom: 15px;
    text-transform: uppercase;
}
h1 {
    font-size: 24px;
    text-align: center;
    color: rgba(4, 161, 4, 0.8);
    margin-bottom: 15px;
    text-transform: uppercase;
}

.admin-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.admin-menu li {
    margin-bottom: 10px;
}

.admin-menu a {
    display: block;
    text-decoration: none;
    width: 80%;
    height: 60%;
    text-align: center;
    padding: 9px;
    border: none;
    border-radius: 10px;
    background-color: rgb(14, 170, 92);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 3px;
    margin-bottom: 7px;
    font-size: 15px;
}

.admin-menu a:hover {
    border: solid  0.5px; 
  background-color: rgb(255, 255, 255);
  color: rgba(14, 170, 92, 0.8); 
  transform: scale(1.05);
}

.hidden {
    display: none;
}

.product-image {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.action-container {
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1020px;
    background-color: #efefef;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 1px;
    margin-right: 60px;
    margin-top: 45px;
    height: 625px;
}

.action-container.hidden {
    display: none;
}

.action-container h1 {
    text-align: center;
}

.action-container .form-group {
    margin-bottom: 20px;
    text-align: left;
    color: rgb(14, 170, 92);
}

.action-container .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.action-container .form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.action-container .btn-action {
    width: 25%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: rgb(14, 170, 92);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    
}

.action-container .btn-action:hover {
    border: solid  0.5px; 
    background-color: rgb(255, 255, 255);
    color: rgba(14, 170, 92, 0.8); 
    transform: scale(1.05);
}

.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: rgba(4, 161, 4, 0.8);
    background: none;
    border: none;
    cursor: pointer;
    
}

.exit-button:hover {
    color: rgba(14, 170, 92, 0.8);
}

.error-message {
    color: rgba(4, 161, 4, 0.8);
    font-size: 14px;
    margin-top: 5px;
}

.success-message {
    color: rgba(4, 161, 4, 0.8);
    font-size: 14px;
    margin-top: 5px;
}


@media (max-width: 800px) {
    .actions-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #Products_container,
    #Coaches_container {
        width: 90%;
        margin: 10px 0;
    }

    .container {
        width: 90%;
        margin: 10px auto;
        padding: 20px;
    }

    .action-container {
        width: 90%;
        margin: 10px auto;
    }

    .product-image {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 20px;
    }
}