


.title {
    display: flex;
    justify-content: center;
    color: rgb(14, 170, 92);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    padding: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(255, 255, 255);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
    border-radius: 10px;
    padding: 25px;
    height: 300px;
    margin: 15px;
    transition: transform 0.7s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: rgb(14, 170, 92);
    font-size: 8em;
}

.card h3 {
    color: rgb(51, 51, 51);
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    color: rgb(102, 102, 102);
    font-size: 1.1em;
}

.info p {
    color: rgb(5, 118, 75);
}

.opencontact {
    color: rgb(14, 170, 92);
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0; /* Reset default margin */
}