body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

.workouts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden; /* Hide overflow to prevent animation overflow */
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.5s ease; /* Add transition for smoother hover effect */
}

.workout-details {
    padding: 20px;
}

.workout-details h2 {
    margin-top: 0;
    color: #333;
}

.workout-details p {
    margin-bottom: 0;
    color: #666;
}


