@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: rgb(5, 129, 79);
    padding: 10px 0;
    text-align: center;
     
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.2em;
}

nav a:hover {
    color:rgb(25, 155, 105);
}


.title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
  padding: 10px;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#contact {
  margin-top: 50px;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: transform 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card .icon {
  color: rgb(255, 255, 255);
  font-size: 8em;
  text-align: center;
}

.card h3 {
  color: rgb(51, 51, 51);
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card p {
  color: rgb(102, 102, 102);
  font-size: 1.1em;
}

.info p {
  color: black;
}
h1{
  color:black;
 
}

.opencontact {
  color: black;
}
.coachimage{
    width:250px;
    background-color:rgb(5, 118, 75) ;
    background: rgb(5, 118, 75);
}
.plansimage{
    width:250px
}
.info h3{
    color: rgb(5, 118, 75);
}
.info p{
  color:rgb(0, 0, 0);
}
.coachcard h3{
    color:rgb(5, 118, 75);
}
.coachcard p{
  color:rgb(0, 0, 0);
}


.shopimage{
    width:240px;
    margin: 1px;
    
}
.shopcard h3{
    color:rgb(5, 118, 75);
}
.shopcard p{
    color: rgb(0, 0, 0);
}
