.schedule {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow:hidden ;
}

#book-now-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: rgb(14, 170, 92);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#book-now-btn:hover {
    background-color: rgb(20, 92, 56);
}

h1 {
    color: rgb(14, 170, 92);
    text-align: center;
    margin-bottom: 20px;
    padding: 40px;
}

h2 {
    color: rgb(14, 170, 92);
    text-align: center;
    margin-bottom: 20px;
}


.schedule-table {
    width: 100%;
    border-collapse: collapse;
}

.schedule-table th, .schedule-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.schedule-table th {
    background-color: #f2f2f2;
}

.schedule-table td {
    background-color: #fafafa;
}

a {
    text-decoration: none;
}


.no-underline {
    text-decoration: none;
}


#special-link {
    text-decoration: none;
}


@media screen and (max-width: 800px) {
    .schedule {
        max-width: calc(100% - 40px);
        padding: 15px;
    }
   
    
    #book-now-btn {
        margin-top: 10px;
    }
    
    h1, h2 {
        padding: 20px;
    }
}