.actions-container {
    display: flex;

    padding: 30px;
    margin: 30px;
    position: relative;
    color:rgb(14, 170, 92);;

}

#Products_container,
#Coaches_container {
    width: 500px;
    height: 350px;
    background-color: #efefef;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

h1 {
    text-align: center;
    color: rgba(4, 161, 4, 0.8);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.admin-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.admin-menu li {
    margin-bottom: 10px;
}

.admin-menu a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px;
  border: none;
  border-radius: 20px;
  background-color: rgb(14, 170, 92);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 30px 10px;
}

.admin-menu a:hover {
    border: solid  0.5px; 
  background-color: rgb(255, 255, 255);
  color: rgba(14, 170, 92, 0.8); 
  transform: scale(1.05);
}

.hidden {
    display: none;
}

.product-image {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.action-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 25%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.action-container.hidden {
    display: none;
}

.action-container h1 {
    text-align: center;
}

.action-container .form-group {
    margin-bottom: 20px;
    text-align: left;
    color: rgb(14, 170, 92);
}

.action-container .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.action-container .form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.action-container .btn-action {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: rgb(14, 170, 92);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    
}

.action-container .btn-action:hover {
    border: solid  0.5px; 
    background-color: rgb(255, 255, 255);
    color: rgba(14, 170, 92, 0.8); 
    transform: scale(1.05);
}

.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: rgba(4, 161, 4, 0.8);
    background: none;
    border: none;
    cursor: pointer;
    
}

.exit-button:hover {
    color: rgba(14, 170, 92, 0.8);
}

.error-message {
    color: rgba(4, 161, 4, 0.8);
    font-size: 14px;
    margin-top: 5px;
}

.success-message {
    color: rgba(4, 161, 4, 0.8);
    font-size: 14px;
    margin-top: 5px;
}