.title {
  display: flex;
  justify-content: center;
  color: rgb(14, 170, 92);
  font-size: 2.2em;
  margin-bottom: 30px;
  padding: 10px;
  padding-top: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 20px;
  height: 400px; 
  margin: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  position: relative;
  overflow: hidden;
  text-align: left; 
}

.card:hover {
  transform: scale(1.05);
}


.card-content {
  padding: 20px;
}

.card h2 {
  color: rgb(14, 170, 92);
  margin-bottom: 10px;
  text-align: center; 
}

.card p {
  color: black;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.card ul {
  color: black;
  padding-left: 20px;
}

.card li {
  color: rgb(20, 92, 56);
  list-style-type: disc; 
}
